- set_headline image_tag("/assets/logo.png")

%h2
  Track Your Time. Track Your Activity. Show Your Work.

%p
  = raw @page.content

- content_for :footer, image_tag("timepulse.png", :class => "bordered")