@import constants.sass
@import 'compass'
@import 'foundation_and_overrides'

@mixin content_box_shadow
  +box-shadow(4px 4px 50px rgba(90, 90, 90, 0.55))

#content

  a
    :font-weight bold
  a:hover
  
  h1
    +border-radius(12px)
    :background $primary_dark_2
    :padding 0.25em
    :color white
    :margin-bottom 30px
    @include content_box_shadow
  #content-body
    @include content_box_shadow
    @include grid-row
    +border-radius(6px)
    :background $primary_light_2
    :padding 1em
    #main-content
      @include grid-column(10)
    #sidebar
      a
        color: white
      +border-radius(6px)
      background: $primary_dark_1
      @include grid-column(2)

  #content-body:after
    +clearfix

  ul
    :margin-left 2em

p
  :margin 1em 0

em
  :font-style italic
strong
  :font-weight bold

pre.code
  :background white
  :border 1px $tertiary_dark_2
  :padding 0.5em
  

